* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.notice {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;

  animation: notice 1s linear 12s forwards;

  background-color: #2d3436;
}

.notice__text {
  transition: .2s;

  color: #dff9fb;
  font-style: oblique;
  font-size: 2rem;
  line-height: 1.5rem;

  animation: 
  notice 1s linear 12s forwards,
  noticeMove 1s linear alternate infinite;
}