* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.notice {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;

  animation: notice 1s linear 12s forwards;

  background-color: #2d3436;
}

.notice__text {
  transition: .2s;

  color: #dff9fb;
  font-style: oblique;
  font-size: 2rem;
  line-height: 1.5rem;

  animation: 
  notice 1s linear 12s forwards,
  noticeMove 1s linear alternate infinite;
}

.sky {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;

  background-color: #74b9ff;
}

.sun {
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: 0;
  left: 45%;

  background-image: radial-gradient(#fdcb6e, #ffeaa7);
  border-radius: 50%;
  box-shadow: 0 0 10px 10px #ffeaa7;
  z-index: 98;

  animation: sunmove 24s linear infinite;
}

.moon {
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 0;
  left: 45%;

  background-image: radial-gradient(#b2bec3, #dfe6e9);
  border-radius: 50%;
  box-shadow: 0 0 20px 10px #dfe6e9;
  z-index: 98;

  animation: moonmove 24s linear 12s infinite;
}

.earth {
  width: 100vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
  z-index: 99;

  background: #6ab04c;
}
